* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  padding-top: 15px;
  text-align: center;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.bingoRow {
   position: relative;
}

.bingoCol {
   height: calc(20vw - 10px);
   border: 1px solid black;
   &:focus {
    outline: none;
   }
}

.board {
   margin: 5px;
   background-image: url("assets/ham.png");
}

.fill {
  background-color: none;
}

.unfill {
  background-color: white;
}

.bingo {
  font-size: 5vh;
  font-weight: bold;
}

.medallion {
  height: 5vh;
}

.responsive {
  height: 100%;
}