* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  padding-top: 15px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
   height: 50px;
}